header {
background-color: white;
height: 70px;
width: 100%;
border-bottom: 1px solid #cccccc;
display: grid;
justify-content: start;
align-items: center; /* center in y axis */
}

.icon {
content: url(/images/logo\ left\ aribnbn.png);
}
